{%extends 'user_view/base.html'%}
{%load static%}
{%block content%}
<!-- breadcrumb part start-->
<!-- <section class="breadcrumb_part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb_iner">
                    <h2>login</h2>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!-- breadcrumb part end-->
    <!--================login_part Area =================-->
<!--================login_part Area =================-->
<section class="login_part padding_top pb-5">
    <div class="form-outline ">
        <!-- <div style="font-size: .9em" class="alert {% if messages %}opacity-100 {% else %}
        opacity-0 {% endif %} alert-primary" role="alert">
         {% for m in messages  %}
         {{m}}
         {% endfor %}
        </div> -->
      </div> 
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="login_part_text text-center">
                    <div class="login_part_text_iner">
                        <h2>New to our Shop?</h2>
                        <p>There are advances being made in science and technology
                            everyday, and a good example of this is the</p>
                        <a href="{% url 'create_account' %}" class="btn_3">Create an Account</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="login_part_form">
                    <div class="login_part_form_iner">
                        <h3>Welcome! <br>
                            Please Sign in now</h3>
                        <form class="row contact_form" action="#" method="POST" novalidate="novalidate">
                            {% csrf_token %}
                            <div class="col-md-12 form-group p_star">
                                <input type="text" class="form-control" id="name" name="email" value=""
                                    placeholder="Email">
                            </div>
                            <div class="col-md-12 form-group p_star">
                                <input type="password" class="form-control" id="password" name="password" value=""
                                    placeholder="Password">
                            </div>
                            <div class="col-md-12 form-group">
                                <div class="creat_account d-flex align-items-center">
                                    <input type="checkbox" onclick = "myFunction()" name="selector">
                                    <label for="f-option">Show Password</label>
                                </div>
                                <button type="submit" value="submit" class="btn_3">signin
                                </button>
                                <a class="lost_pass" href="{% url 'forgetpassword' %}"> forget password? </a><br> 
                                <a class="lost_pass" href="#">Login with Email? </a>
                                {% comment %} <a class="lost_pass" href="{% url 'resetpassword' %}">Reset your password? </a> {% endcomment %}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    function myFunction(){
        var x = document.getElementById("password")
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
    }
</script>
{% comment %} <script>
    alertify.set('notifier','position', 'bottom-right');
    {%for msg in messeges%}
        alertify.success('{{msg}}');
    {%endfor%}
</script> {% endcomment %}
{%endblock%}
