{%extends 'user_view/base.html'%}
{%load static%}
{%block content%}
{% load mathfilters %}

<section class="cart_area section_padding">
  <div class="container">
    <div class="cart_inner">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th style="text-align: center;" scope="col">Quantity</th>
              <th scope="col">Total</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if cart_items %}
            {%for cart_item in cart_items%}
            <tr>
              <td>
                <div class="media">
                  <div class="d-flex">
                    <img src="{{cart_item.product.image.url}}" alt="" />
                  </div>
                  <div class="media-body">
                    <p>{{cart_item.product.product_name}}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5>{{cart_item.product.price}}</h5>
              </td>
              <td>
                <div class="input-group quantity mx-auto" style="width: 100px;">
                  <div class="input-group-btn">
                    <button data-price="{{cart_item.product.price}}" data-index="{{cart_item.product.id}}"
                      class="btn btn-sm btn-light  btn-minus update-button">
                      <i class="fa fa-minus"></i>
                    </button>
                  </div>
                  <input readonly id="pro_qty{{cart_item.product.id}}" type="text"
                    class="form-control form-control-sm bg-light text-center" value="{{cart_item.quantity}}">
                  <div class="input-group-btn">
                    <button data-price="{{cart_item.product.price}}" data-index="{{cart_item.product.id}}"
                      class="btn btn-sm btn-light btn-plus update-button">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
              </td>
              <td>
                <h5 id="single_pro_total{{cart_item.product.id}}">{{cart_item.price |mul:cart_item.quantity|floatformat}}</h5>
              </td>
              <td><a href="{% url 'delete_cart' cart_item.product.id %}" class="genric-btn primary-border radius">Remove</a></td>
            </tr>
            {%endfor%}
            {% else %}
            <h2 class="w-100">Nothing to show</h2>
            {% endif %}          
            <tr class="bottom_button">
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <!-- <td><a class="btn_1" href="#">Close Coupon</a></td> -->
            </tr>
            
              
            </div>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><h5>Subtotal</h5></td>
              <td><h5 id="total_field">{{subtotal}}</h5></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><h5>GST</h5></td>
              <td><h5 id="tax_field">{{tax}}</h5></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td><h4>Grand Total</h4></td>
              <td><h4 id="grand_total">{{grandtotal}}</h4></td>
            </tr>
          </tbody>
        </table>
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="{% url 'product_page' %}">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" href="{% url 'checkout_cart'%}">Proceed to checkout</a>
        </div>
      </div>
    </div>
</section>

<script>

  $('.quantity button').on('click', function () {
    var button = $(this);
    var oldValue = button.parent().parent().find('input').val();
    if (button.hasClass('btn-plus')) {
      var newVal = parseFloat(oldValue) + 1;
    } else {
      if (oldValue > 1) {
        var newVal = parseFloat(oldValue) - 1;
      } else {
        newVal = 1;
      }
    }
    button.parent().parent().find('input').val(newVal);
  });


  $(document).on('click', '.update-button', function (e) {

    e.preventDefault();


    var price = $(this).data('price')
    var id = $(this).data('index')

    var pro_qty = parseInt($('#pro_qty' + id).val())
    console.log('success', 'selected qty: ', pro_qty, ' id = ', id);

    {% for item in cart_items %}

      if ('{{item.product.id}}' == id){
          var existing_quantity = parseInt('{{item.product.product_qnty}}')

          if('{{item.product.product_qnty}}' == 0){
          alert('Out of stock')
          document.getElementById('pro_qty'+ id).value = pro_qty -1
          return;
          }

          else if($('#pro_qty' + id).val() > existing_quantity){
            alert('only {{item.product.product_qnty}} left',) 
              document.getElementById('pro_qty'+ id).value = pro_qty -1
              return;
              }
      }

    {% endfor %}


    $.ajax({

      type: 'POST',
      url: '{% url "cart_update" %}',
      data: {

        product_id: $(this).data('index'),
        product_quantity: parseInt($('#pro_qty' + id).val()),
        csrfmiddlewaretoken: "{{csrf_token}}",
        action: 'post'
      },

      success: function (json) {

        console.log(json)

        console.log('single_pro_total' + id)
        document.getElementById("single_pro_total" + id).textContent = json.product_total

        document.getElementById("total_field").textContent = '₹ ' + json.subtotal


        document.getElementById("tax_field").textContent = '₹ ' + json.tax

        document.getElementById("grand_total").textContent = '₹ ' + json.grandtotal
      },

      error: function (xhr, errmsg, err) {


      }

    });


  })



</script>

<!--================End Cart Area =================-->
{%endblock%}